/* fonts */
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-purple: #dcdff0;
  --main-pink: #fae8f1;
}

/* 기본 여백 제거 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NeoDunggeunmo';
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button,
a {
  all: unset;
  cursor: pointer;
}

.container {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
}

/* s1 */
.container .section.s1 {
  position: relative;
  width: 100%;
}

.section.s1 .s1-bg-container {
  z-index: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.section.s1 .s1-bg-container > img {
  width: 100%;
}

.login-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #aab2c1;
  border-radius: 21px;
  color: #fff;
  padding: 0.5rem 2.5rem;
}
.login-button:hover {
  opacity: 0.7;
}

.s1-align-container {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
}

.logo-container {
  width: 23%;
}

.logo-container > img {
  width: 100%;
  height: auto;
}

.search-input-container {
  width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.search-icon-container {
  position: absolute;
  left: 1.2rem;
  width: 33px;
  margin-top: 0.2rem;
}

.search-icon-container > img {
  width: 100%;
  height: auto;
}

.search-input {
  width: 100%;
  font-size: 1.2vw;
  padding: 1.2rem 1.8rem 1.2rem 4.2rem;
  background-color: var(--main-purple);
  border: none;
  outline: none;
  border-radius: 33px;
}

.search-input::placeholder {
  color: #fff;
}

.button-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.2rem;
}

.button-list-container .link-button {
  width: 15%;
  text-align: center;
  color: #000;
  font-size: 1.2vw;
  padding: 0.5rem;
  border: 0.5px solid #000;
  background-color: #fff;
}
.button-list-container .link-button:hover {
  background-color: #000;
  color: #fff;
}

.s1-contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.s1-contents-title {
  font-size: 1.8vw;
  font-weight: 900;
}
.s1-contents-content {
  font-size: 1.3vw;
  text-align: center;
  line-height: 2.5vw;
  margin-top: 1rem;
}

/* s2 */
.container .section.s2 {
  width: 100%;
  background-color: var(--main-purple);
}

.s2-align-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  gap: 1.5rem;
}

.s2-align-container .s2-section {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.s2-section .s2-title {
  font-size: 1.3rem;
  color: #000;
  background-color: #fff;
  border-radius: 33px;
  padding: 0.5rem 2rem;
}

.s2-section .s2-contents-container {
  position: relative;
  width: 100%;
}
.s2-section .s2-contents-container > img {
  width: 100%;
  height: auto;
}

.s2-section .s2-contents-container .s2-contents {
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12%;
  left: 20%;
}
.s2-section .s2-contents-container .s2-contents.s2-contents-top {
  top: 15%;
}

.s2-section .s2-contents-container .s2-contents > p {
  text-align: center;
  font-size: 1.05vw;
  line-height: 2vw;
  color: #fff;
}
.s2-section .s2-contents-container .s2-contents > .fs {
  font-size: 0.9vw;
}

/* s3 */
.container .section.s3 {
  position: relative;
  width: 100%;
}
.container .section.s3 .s3-bg-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.container .section.s3 .s3-bg-container > img {
  width: 100%;
}
.container .section.s3 .s3-align-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s3-align-container .s3-to-s1 {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 4rem;
  width: 100px;
}
.s3-to-s1 > img {
  width: 100%;
}

.s3-align-container .s3-title {
  background-color: var(--main-pink);
  color: #000;
  font-size: 2rem;
  padding: 1.2rem 3rem;
  border-radius: 50px;
  margin-top: 2rem;
}
.s3-align-container .s3-s-title {
  font-size: 1.8rem;
  color: #000;
  margin-top: 1rem;
}

.genre-container {
  width: 100%;
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  gap: 4rem;
}
.genre-align-container {
  cursor: pointer;
  z-index: 10;
  width: 15%;
  margin-top: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genre-align-container > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genre-align-container:hover {
  width: 20%;
  padding: 3rem 2.5rem;
  transform: scale(1.1) translateY(-10rem);
  background-color: var(--main-pink);
  border-radius: 50px;
}
.genre-align-container .genre-img-container {
  width: 100%;
}
.genre-align-container .genre-img-container > img {
  width: 100%;
}
.genre-align-container:hover .genre-title {
  font-size: 1.8rem;
}
.genre-align-container:hover .genre-detail {
  display: block;
}
.genre-align-container .genre-title {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #000;
  font-weight: 900;
}
.genre-align-container .genre-detail {
  display: none;
  text-align: center;
  font-size: 1.05rem;
  color: #000;
  line-height: 1.25;
  margin-top: 1rem;
}
